#root {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  padding: 2em;
  flex: 1;
}

.card {
  padding: 1em;
  flex: 1;
}

.ascension-too-low {
  color: #888;
}

.read-the-docs {
  color: #888;
}

.upload-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.infinity-list {
  text-align: center;
}
.infinity-list > ul {
  display: inline-block;
  list-style-position: outside;
  list-style-type: none;
  padding-inline-start: 0;
}
